# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*



# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage/
*.lcov
.nyc_output
.grunt
bower_components
.lock-wscript
build/Release
jspm_packages/
web_modules/
*.tgz
.yarn-integrity
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.parcel-cache
.next
.nuxt
.vuepress/dist
.temp
.cache
.docusaurus

# Svelte / SvelteKit
.svelte-kit/
/build/
/package/
.vite/
.vercel
.output
.wrangler
.netlify
.cloudflare
src/service-worker.js
src/service-worker.d.ts